<!--  __  ____  ____  ____          __  
     / / / / / / / / / / /_  __  __/ /_ 
    / /_/ / /_/ / /_/ / __ \/ / / / __ \
   / __  / __  / __  / / / / /_/ / /_/ /
  /_/ /_/_/ /_/_/ /_/_/ /_/\__,_/_.___/  
-->
<!DOCTYPE html>
<html>
<head>
  <title>HHHhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <div class="wrapper">
      <%= render partial: 'shared/sidebar' %>
      <div class="main col-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
